/* Fredoka Font Family */
@font-face {
    font-family: 'Fredoka';
    src: url('../../resources/fonts/fredoka.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Fredoka';
    src: url('../../resources/fonts/fredoka-bold.ttf') format('truetype');
    font-weight: bold;
}

/* General styles */
* {
    margin: 0px;
    padding: 0px;

    font-family: sans-serif;
    font-weight: normal;
    font-size: 13px;

    user-select: none;
    -webkit-user-select: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;

    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;

    /* Selection */
    &::selection { background: hsl(0, 0%, 85%); }

    /* Hover */
    &:hover { cursor: default; }
}

html {
    height: 100vh;

    font-size: 62.5%;
}

body {
    width: 100vw;
    height: 100vh;

    display: flex;

    justify-content: center;
    align-items: center;

    box-sizing: border-box;

    font-size: 16px;

    overflow: hidden;
}
