/* Styles for dashboard */
body {
    padding-top: var(--header-height);

    min-height: 100vh;

    background: var(--bg-color-3);

    display: flex;

    justify-content: start;
    align-items: center;

    flex-direction: column;

    overflow: hidden;

    /* Scroll */
    &::-webkit-scrollbar {
        width: 0rem;
        height: 0rem;
    }
}

/* Main container */
main {
    width: 100%;
    
    background: linear-gradient(var(--color-2) 0rem, var(--bg-color-3) 15rem);

    display: flex;

    justify-content: center;
    align-items: center;

    flex: 1;
    flex-direction: column;

    box-sizing: border-box;

    overflow: hidden;
}

/* Form */
form {
    padding: 2rem;

    width: 80%;

    min-width: 10rem;
    min-height: 10rem;

    max-width: 32rem;

    background: linear-gradient(var(--gray-tone-4), var(--gray-tone-5));

    border: 0.1rem solid var(--gray-tone-7);
    border-radius: var(--border-radius);

    display: flex;

    justify-content: start;
    align-items: center;

    flex-direction: column;

    box-sizing: border-box;
    box-shadow: var(--box-shadow);

    pointer-events: none;
    
    /* Animation */
    &.fade-in { animation: form-fade-in 0.5s var(--cubic-bezier) forwards; }

    &.fade-out { animation: form-fade-out 0.5s var(--cubic-bezier-inverted) forwards; }

    /* Subtitle */
    & h2 {
        margin-bottom: 3rem;

        width: 100%;

        color: var(--text-color-2);

        font-family: 'fredoka';
        font-weight: bold;
        font-size: 2.25rem;

        text-align: center;

        letter-spacing: 0.065rem;
    }

    /* Text */
    & p {
        margin-bottom: 2.5rem;

        width: 100%;

        color: var(--text-color-3);

        display: flex;

        justify-content: start;
        align-items: center;

        box-sizing: border-box;

        font-size: 1.3rem;

        line-height: 2.25rem;

        text-align: justify;
        text-indent: 2.5rem;

        opacity: 0.65;
    }

    /* Button */
    button {
        background: linear-gradient(90deg, var(--line-password-color-2), var(--line-password-color-1));
    }
}

/* Animate */
@keyframes form-fade-in {
    0% {
        opacity: 0;

        transform: translateY(10rem);

        pointer-events: none;
    }

    75% {
        opacity: 1;
        
        transform: translateY(-1rem);
    }

    99% {
        pointer-events: none;
    }

    100% {
        opacity: 1;

        transform: translateY(0rem);

        pointer-events: all;
    }
}

@keyframes form-fade-out {
    0% {
        opacity: 1;

        transform: translateY(0rem);

        pointer-events: none;
    }

    25% {
        opacity: 1;
        
        transform: translateY(-1rem);
    }

    100% {
        opacity: 0;

        transform: translateY(10rem);

        pointer-events: none;
    }
}